* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


img {
    width: 200px;
    height: 200px;
    object-fit: contain;
    cursor: pointer;
}

h4 {
    margin-bottom: 0px;
}